{
  "presets": [
    ["@babel/preset-env",{
      "loose":true
    }],
    "@babel/preset-react",
    
  ],
  "plugins": [
    ["module:fast-async", { "spec": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
    ]
}